<nav id="left-sidebar-nav" class="sidebar-nav">
                        <ul id="main-menu" class="metismenu">   
                        
                        <li class="active"><a href="{{ base_url() }}/parent-dashboard">
                                <i class="icon-speedometer"></i> Dashboard
                            </a></li>
                            
                             <li><a href="{{ base_url() }}/e-contents">
                                <i class="icon-bulb"></i> E-Contents
                            </a></li>
                            
								
						 <li class="nav-item dropdown">
                            <a href="#">
                                <i class="icon-wrench"></i> Settings
                            </a>
                        </li>
                        </ul>
                    </nav>