<div class="featured-box featured-box-primary align-left mt-xlg">
<div class="box-content">		
			<!---- PROJECT DETAIL TAB -->
<div class="row" style="">
						<div class="col-md-12">

							<div class="tabs tabs-bottom tabs-center tabs-simple">
								<ul class="nav nav-tabs">
									
									<li>
										<a href="#tabsHowTo" data-toggle="tab">
											<span class="featured-boxes featured-boxes-style-6 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured fa fa-question"></i>
													</span>
												</span>
											</span>									
											<p class="mb-none pb-none">How to Offset?</p>
										</a>
									</li>
									<li>
										<a href="#tabsWallet" data-toggle="tab">
											<span class="featured-boxes featured-boxes-style-6 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured fa fa-shopping-cart"></i>
													</span>
												</span>
											</span>									
											<p class="mb-none pb-none">Manage Carbon Wallet</p>
										</a>
									</li>
									<li>
										<a href="#tabsInvoice" data-toggle="tab">
											<span class="featured-boxes featured-boxes-style-6 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured fa fa-file"></i>
													</span>
												</span>
											</span>									
											<p class="mb-none pb-none">Get Offset Invoice</p>
										</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tabsHowTo">
										<div class="">
											<h3>How to Offset?</h3>
											<p>Carbon offsetting is easy and takes just 3 Steps! </p>
							
							<ul class="list list-icons list-icons-style-3">
										<li><i class="fa fa-check"></i> Enter car or flight journey details to calculate your carbon footprint.</li>
										<li><i class="fa fa-check"></i> Start compensating your carbon emissions by selecting a project of your choice</li>
										<li><i class="fa fa-check"></i> Pay online to receive your Invoice and get access to free account.</li>
									</ul>
										</div>
									</div>
									<div class="tab-pane" id="tabsWallet">
										<div class="">
											<h3>Manage Your Wallet</h3>
											<p>When you offset your carbon footprint with us we will register an account for you where you can manage all your offsets, use our carbon calculators and receive all the future updates we will be bringing.</p>
											<p>Please make sure that you enter correct email. You can signin to our website to manage your carbon offseting at one place.</p>
										</div>
									</div>
									<div class="tab-pane" id="tabsInvoice">
										<div class="">
											<h3>Get Offset Invoice</h3>
											<p>We will mail your login credentials to your registered email. You can access your dashboard, offset summary, invoices and free credits.</p>
											<p></p>
										</div>
									</div>
								
								</div>
							</div>
						</div>
					</div>

</div>
					</div>