 <div class="card">
                        <div class="header">
                            <h2>TOP STAFF ATTENDANCE</h2>                            
                        </div>
                        <div class="body">
                            <ul class=" list-unstyled basic-list">
                                <li>Mark Otto <span class="badge badge-primary">21%</span></li>
                                <li>Ravindra Nath <span class="badge-purple badge">50%</span></li>
                                <li>Faizan Ahmed<span class="badge-success badge">90%</span></li>
                                <li>Mohan Srivastava <span class="badge-info badge">75%</span></li>
                                <li>Anita Agrawal <span class="badge-warning badge">60%</span></li>
                                <li>M. Arthur <span class="badge-success badge">91%</span></li>
                                <li>Jacob Thornton<span class="badge-success badge">90%</span></li>
                                <li>Vivek Sinha <span class="badge-info badge">75%</span></li>
                            </ul>
                        </div>
                    </div>