   <div class="collapse-xs collapse-sm collapse show" id="open-events">
       <div class="card">
                            <div class="header">
                                <h2><strong>Repeating</strong> Event</h2>
                                <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>                        
                            </div>
                            <div class="body">
                                <div class="event-name b-lightred row">
                                    <div class="col-date text-center">
                                        <h4>09<span>Dec</span><span>2017</span></h4>
                                    </div>
                                    <div class="col-name">
                                        <h6>Repeating Event</h6>
                                        <p>It is a long established fact that a reader will be distracted</p>
                                        <address>123 6th St. Melbourne, FL 32904</address>
                                    </div>
                                </div>
                                <div class="event-name b-greensea row">
                                    <div class="col-date text-center">
                                        <h4>16<span>Dec</span><span>2017</span></h4>
                                    </div>
                                    <div class="col-name">
                                        <h6>Repeating Event</h6>
                                        <p>It is a long established fact that a reader will be distracted</p>
                                        <address>123 6th St. Melbourne, FL 32904</address>
                                    </div>
                                </div>
                                <div class="event-name b-primary row">
                                    <div class="col-date text-center">
                                        <h4>11<span>Dec</span><span>2017</span></h4>
                                    </div>
                                    <div class="col-name">
                                        <h6>Conference</h6>
                                        <p>It is a long established fact that a reader will be distracted</p>
                                        <address>123 6th St. Melbourne, FL 32904</address>
                                    </div>
                                </div>
                            </div>
                        </div></div>