    <div class="card">
                        <div class="header">
                            <h2>Monthy Attendance</h2>
                        </div>
                        <div class="body">
                            <ul class="list-unstyled list-referrals">
                                <li>
                                    <p><span class="value">Jan</span><span class="text-muted float-right">18/23</span></p>                                  
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                                <span class="progress-value">87%</span>
                                            </div>
                                        </div></li>

                                <li>
                                    <p><span class="value">Feb</span><span class="text-muted float-right">18/23</span></p>                                  
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                                <span class="progress-value">87%</span>
                                            </div>
                                        </div></li>
 <li>
                                    <p><span class="value">March</span><span class="text-muted float-right">18/23</span></p>                                  
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                                <span class="progress-value">87%</span>
                                            </div>
                                        </div></li>

 <li>
                                    <p><span class="value">April</span><span class="text-muted float-right">18/23</span></p>                                  
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                                <span class="progress-value">87%</span>
                                            </div>
                                        </div></li>
 <li>
                                    <p><span class="value">May</span><span class="text-muted float-right">18/23</span></p>                                  
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                                <span class="progress-value">87%</span>
                                            </div>
                                        </div></li>

 <li>
                                    <p><span class="value">May</span><span class="text-muted float-right">18/23</span></p>                                  
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                                <span class="progress-value">87%</span>
                                            </div>
                                        </div></li>
 <li>
                                    <p><span class="value">June</span><span class="text-muted float-right">18/23</span></p>                                  
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                                <span class="progress-value">87%</span>
                                            </div>
                                        </div></li>

 <li>
                                    <p><span class="value">July</span><span class="text-muted float-right">18/23</span></p>                                  
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                                <span class="progress-value">87%</span>
                                            </div>
                                        </div></li>

 <li>
                                    <p><span class="value">August</span><span class="text-muted float-right">18/23</span></p>                                  
                                    <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
                                                <span class="progress-value">87%</span>
                                            </div>
                                        </div></li>

                            </ul>
                        </div>
                    </div>