 <div class="card">
                        <div class="carousel slide google w_feed" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <i class="fa fa-users fa-2x"></i>
                                    <p>Add Wards</p>
                                    <h5>Manage your ward accounts. Keep the information updated.</h5>
                                    <div class="m-t-20"><i>Visit www.smartschoolautomation.com</i></div>
                                </div>
                                <div class="carousel-item">
                                    <i class="fa fa-trophy fa-2x"></i>
                                    <p>Track Performance</p>
                                    <h4>View subject wise Performance report for exams.</h4>     
                                </div>
                            </div>
                        </div>
                    </div>