<p>  <span class="badge badge-success"><i class="icon-pin"></i> NOTICE BOARD</span></p>
<blockquote>
                                <p class="blockquote blockquote-primary">
                                    "School will remain close till 22nd August 2020 to support the endevour taken by our government. All are requested to follow the guidelines made available."
                                    <br>
                                    <br>
                                    <small>
                                        - Principal
                                    </small>
                                </p>
                            </blockquote>