 <div class="card">
                        <div class="body">
                            <div class="new_timeline">
                                <div class="header">
                                    <div class="color-overlay">
                                        <div class="day-number">8</div>
                                        <div class="date-right">
                                        <div class="day-name">Monday</div>
                                        <div class="month">February 2018</div>
                                        </div>
                                    </div>                                
                                </div>
                                <ul>
                                    <li>
                                        <div class="bullet pink"></div>
                                        <div class="desc">
                                            <h3>Attendance </h3>
                                            <h4>Captured at 8:37 am</h4>
                                            <h4><span class="badge badge-success badge-fill"><i class="icon-check"></i>  PRESENT</span></h4>
                                        </div>
                                    </li>
                                   
                                    <li>
                                        <div class="bullet pink"></div>
                                        <div class="desc">
                                            <h3>School Running <i class="fa fa-spinner fa-spin"></i></h3>
                                            <h4>2nd Period</h4>

                                        </div>
                                    </li>

                                    <li>
                                        <div class="bullet orange"></div>
                                        <div class="desc">
                                            <h3>Todays News</h3>
                                             <h4>N/A</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bullet green"></div>
                                        <div class="desc">
                                            <h3>Todays Events</h3>
                                            <h4>N/A</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>