<p>  <span class="badge badge-success"><i class="icon-pin"></i> TODAY'S QUOTE</span></p>
<blockquote>
                                <p class="blockquote blockquote-primary">
                                    "Education is not about bringing the development of brain and encouraging skills required for survival it is about exploring ourselves and making a life worth meaning."
                                    <br>
                                    <br>
                                    <small>
                                        - Dr. P.J SAHER
                                    </small>
                                </p>
                            </blockquote>