    <div class="card">
                        <div class="header">
                            <h3>Half Yearly Exam 2020</h3>
                            <h6>Exam Result Analysis </h6>
                            <h6>Result: Pass</h6>
                            <h6>Rank: 2nd</h6>
                        </div>
                        <div class="body">
                            <ul class="list-unstyled list-referrals">
                                <li>
                                    <p><span class="value">English</span><span class="text-muted float-right">87%</span></p>
                                    <div class="progress progress-xs progress-transparent custom-color-blue">
                                        <div class="progress-bar" data-transitiongoal="87"></div>
                                    </div>
                                </li>
                                <li>
                                    <p><span class="value">Hindi</span><span class="text-muted float-right">94%</span></p>
                                    <div class="progress progress-xs progress-transparent custom-color-purple">
                                        <div class="progress-bar" data-transitiongoal="94"></div>
                                    </div>
                                </li>                                
                                <li>
                                    <p><span class="value">Science</span><span class="text-muted float-right">89%</span></p>
                                    <div class="progress progress-xs progress-transparent custom-color-yellow">
                                        <div class="progress-bar" data-transitiongoal="89"></div>
                                    </div>
                                </li>
                                <li>
                                    <p><span class="value">Maths</span><span class="text-muted float-right">78%</span></p>
                                    <div class="progress progress-xs progress-transparent custom-color-green">
                                        <div class="progress-bar" data-transitiongoal="78"></div>
                                    </div>
                                </li>
                                 <li>
                                    <p><span class="value">Social Science</span><span class="text-muted float-right">88%</span></p>
                                    <div class="progress progress-xs progress-transparent custom-color-green">
                                        <div class="progress-bar" data-transitiongoal="88"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>