<div class="card">
                        <div class="header">
                            <h2>TO DO LIST <small>This Month task list</small></h2>
                        </div>
                        <div class="body todo_list">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <label class="fancy-checkbox mb-0">
                                        <input type="checkbox" name="checkbox" checked>
                                        <span>Discuss the upcoming event with our PT teacher.</span>
                                    </label>
                                    <hr>
                                </li>
                                <li>
                                    <label class="fancy-checkbox mb-0">
                                        <input type="checkbox" name="checkbox">
                                        <span>Plan the Annual Fair with staffs.</span>
                                    </label>
                                    <hr>
                                </li>
                                <li>
                                    <label class="fancy-checkbox mb-0">
                                        <input type="checkbox" name="checkbox">
                                        <span>Get few social media banners and posters done for the School Annual fair.</span>
                                    </label>
                                    <hr>
                                </li>
                                <li>
                                    <label class="fancy-checkbox mb-0">
                                        <input type="checkbox" name="checkbox">
                                        <span>Plan a faculty meetup to provide training on School Automation System.</span>
                                    </label><hr>
                                </li>
                                <li>
                                    <label class="fancy-checkbox mb-0">
                                        <input type="checkbox" name="checkbox">
                                        <span>Class 8 needs to be divided into 2 sections. Discuss with class teacher.</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>