 <div class="card">
                        <div class="header">
                            <h2>TOP USAGE STATS</h2>
                        </div>
                        <div class="body">
                            <table class="table m-b-0">
                                <tbody>
                                    <tr>
                                        <td><img class="media-object " src="{{ base_url() }}/images/school.png" style="width:48px;"></td>
                                        <td>Modern Public School</td>
                                        <td class="align-right"><span class="badge badge-info">963</span></td>
                                    </tr>
                                    <tr>
                                        <td> <img class="media-object " src="{{ base_url() }}/images/school.png" style="width:48px;"></td>
                                        <td>Dolphin Public School</td>
                                        <td class="align-right"><span class="badge badge-danger">271</span></td>
                                    </tr>
                                    <tr>
                                        <td> <img class="media-object " src="{{ base_url() }}/images/school.png" style="width:48px;"></td>
                                        <td>St. Johns Senior School</td>
                                        <td class="align-right"><span class="badge badge-default">151</span></td>
                                    </tr>
                                    <tr>
                                        <td> <img class="media-object " src="{{ base_url() }}/images/school.png" style="width:48px;"></td>
                                        <td>Holy Mission High School</td>
                                        <td class="align-right"><span class="badge badge-warning">95</span></td>
                                    </tr>                              
                                </tbody>
                            </table>
                        </div>
                    </div>