<div id="pass_overlay" style="display:none;">
					<div style="margin: 60px;padding:30px; text-align: center;">
					<img src="{{ base_url() }}/img/loading.gif" style="margin: 20px;"/>
					<h3><strong>Updating Password</strong></h3>
					<h5>Please wait...</h5>
					</div>					
					</div>
 <form method="POST" class="form-horizontal form-bordered" name="profileCredForm" id="profileCredForm" action="{{base_url()}}/users/creds/update" style="margin: 10px 20px 10px 20px;">
 
 <input type="hidden" value="{{session.userID}}" name="member_id" id="member_id">					
<div class="form-group">
<h5>Old Password</h5>
<input  class="form-control" type="password" name="old_password" required>
</div>

<div class="form-group">
<h5>New Password</h5>
<input class="form-control" type="password" name="pass1" required>
</div>

<div class="form-group">
<h5>Confirm New Password</h5>
<input class="form-control" type="password" name="pass2" required>
</div>

<div class="row" style="margin-top:20px;margin-left:2px;">
<div class="form-group">
<button type="submit" class="btn btn-3d btn-primary btn-lg"> <i class="fa fa-arrow-circle-right"></i> Update Password</button>
 </div> </div>
 
 </form>